<!DOCTYPE html>
<html>
<head>
    <title>Login | AI Internship Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-body">

<div class="login-container">
    <div class="login-left">
        <h1>AI Internship Recommender</h1>
        <p>Upload your resume. Let AI guide your career.</p>
    </div>

    <div class="login-card">
        <h2>Login</h2>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <a href="/" class="btn-primary">Login</a>
    </div>
</div>

</body>
</html>
